body {
    background-image: url(assets/images/bwhi.jpeg);
    margin: auto;
}

.catimage {
    float: left;
    height: auto;
    width: 25%;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 25px;
}

.container {
    background: white;
    width: 900px;
}

